<div class = "two_panel">
  <div class = "left_panel">
    <img src = "images/magnetrain_station2_small.png">
  </div>

  <div class = "content_text">
    I'm Zach - a game developer, web designer, and multimedia artist working in the Seattle gaming industry.  I've got some ambitious ideas
    and I always have projects in construction.  My skills are versatile, as I've done a lot of independent work on a wide variety of
    programming languages and game engines, as well as art and music projects.  I've got professional experience, but this website is a showcase for
    my own work.  Take a look at my portfolio, then
    <a href = "mailto:zachbowman0@gmail.com">contact me</a> and we'll talk about your next project.
  </div>
</div>

<div class = "header_bar">About Me</div>

Designing and developing innovative games has been a passion of mine going all the way back to middle school.  I majored in computer science at Millersville
University, with a focus on C++.  I later mastered Javascript at Codefellows in Seattle.  On an ongoing basis, I teach
myself new tools, skills, and engines.  I co-founded Nightmare Games with my best friend and long-time creative
partner, and I've been hard at work creating the next generation of innovative games since.<br>
<br>
I started working with the web and HTML in the late 90's to support my other projects, but over time, web design and development
have become an entirely new pursuit for me.  Since those earlier days, I've learned CSS, Javascript, jQuery, Angular, and other cool
technologies.  I intend to bridge the gap between these two worlds by producing awe-inspiring web games.<br>
<br>
The projects I'm creating today aren't just self-contained ideas.  These are the foundations and building blocks of larger,
more complex systems I've planned for the future.
My goal is to create unique and immersive worlds to explore and then bring as many people into those worlds as possible.<br>
<br>
<br>
<div class = "header_bar">My Skills</div>

I'm experienced in the following languages and software:

<div class = "skill_list">
  <div class="skill_column">
    <span class="blue">Programming</span><br>
    C#<br>
    Javascript<br>
    C++<br>
    XNA / Monogame<br>
    Unity<br>
    Microsoft Visual Studio<br>
    WPF<br>
    XAML<br>
    Gamemaker<br>
    jQuery<br>
    Lua<br>
    XML<br>
  </div>
  <div class="skill_column">
    <span class="blue">Graphics and Web Design</span><br>
    HTML5<br>
    CSS3<br>
    Paint Shop Pro<br>
    Photoshop<br>
    Gimp<br>
    Inkscape<br>
    <br>
    <span class="blue">3D Modeling</span><br>
    3Ds Max<br>
    Blender<br>
    <br>
    <span class="blue">3D Level Design</span><br>
    Hammer (Source Engine)<br>
    Radiant (idTech Engines)<br>
  </div>
  <div class = "skill_column">
    <span class="blue">Music and Sound</span><br>
    Sony Acid Pro<br>
    Adobe Audition<br>
    <br>
    <span class="blue">Video</span><br>
    Sony Vegas<br>
  </div>
</div>

<div class="header_bar">Completed Projects</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href="images/ultraguy_screenshot_large.png" target=new><img src="images/ultraguy_screenshot_small.png"></a>
  </div>
  <div class = "content_text">
    <a href="http://www.burningfreak.com/games/browsergames/ultraguy/index.html" target=new><img src="images/ultraguy_logo.png"></a><br>
    <br>
    A substantial evolution of the Javascript game engine I developed with my last game, Ultraguy features responsive canvas size, multi-touch screen controls,
    and keyboard support.  This is an arcade-style platformer with a risk/reward point system, physics engine, and a mixed retro-modern art style.
  </div>
</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href="images/wobbly_piss1.png" target=new><img src="images/wobbly_piss1_small.png"></a>
  </div>
  <div class = "content_text">
    <a href="http://www.burningfreak.com/games/browsergames/wobblypiss/index.html" target=new><img src="images/wobbly_piss_logo.png"></a><br>
    <br>
    This was a joke game I did as a response to a weekend challenge from a friend.  It was my first Javascript game, and I created
    my own framework for it with support for desktop, mobile, sprites, and sound.  That laid the foundation for all my future 2D HTML5 games.
  </div>
</div>

<div class = "two_panel">
  <div class = "right_panel">
    <a href = "http://burningfreak.com/zb/freelance/wordwars/" target = new><img src = "images/wordwars1_small.png"></a><br>
    <a href = "http://burningfreak.com/zb/freelance/wordwars/" target = new><img src = "images/wordwars2_small.png"></a>
  </div>
  <div class = "content_text">
    <span class = "title">Word Wars</span><br>
    <br>
    This was an idea for a supercharged, scrabble-like spinoff game I pitched, and then assembled a team to help develop.  Working together,
    we used jQuery UI, a dictionary API, and data binding we wrote ourselves to make an html web page into a fully interactive board
    game (using no game engines or canvas tags).  It supports up to four players, and features multiple board shapes, dictionary
    definitions, and a fully functional validation and scoring system.
  </div>
</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_mappy1_small.png"></a><br>
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_mappy2_small.png"></a>
  </div>
  <div class = "content_text">
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_logo2.png"></a><br>
    <br>
    This browser-based web application uses the Google Maps and Google places APIs to plot a driving route.  Then, it shows the
    user places of interest, restaraunts, gas, and other activities on that path.  I helped design and program this using
    Javascript, jQuery, CSS, and HTML as part of a four-person team.
  </div>
</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href="http://www.burningfreak.com/nightmare/blockhead.html" target=new><img src="images/blockhead3_small.png"></a>
  </div>
  <div class = "content_text">
    <a href="http://www.burningfreak.com/nightmare/blockhead.html" target=new><img src="images/blockhead_250_trans.png"></a><br>
    <br>
    I programmed this puzzle game in XNA Game Studio using C#, and ported it to Windows, Xbox 360, and Windows Phone 7.
    All of the design, programming, graphics, sound, and music elements were created by me.  It's currently available
    for PC as a free download, with a 3D sequel being planned for the Unity engine.
  </div>
</div>

<div class = "header_bar">In Production</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href="images/boxland4.png" target=new><img src="images/boxland4_small.png"></a>
  </div>
  <div class = "content_text">
    <img src="images/boxland_logo4.png"><br>
    Boxland is an action / puzzle / adventure game I'm designing and developing in Monogame and C#.
    The game takes inspiration from classic Nintendo games like Zelda, Metroid and Megaman, but with
    a high-res, cartoony art style, refreshing twists and modern gameplay features.  Boxland Incorporated will be
    initially available for the PC through Steam, with eventual ports for Xbox Live, PSN and iOS.
  </div>
</div>

<div class = "two_panel_last">
  <div class="right_panel">
    <a href="images/urban_assault_large.png" target=new><img src="images/urban_assault_small.png"></a>
  </div>
  <div class = "content_text">
    <span class = "title">Urban Assault</span><br><br>
    My newest project is a 3D car combat game I'm making with Unity, C#, and Blender.  Urban Assault will feature fun, fast action,
    intelligent AI, pathfinding, car physics, and projectile-based warfare.  Future goals may include destructible environments and
    procedurally-generated levels.
  </div>
</div>