<div class="header_bar">Game Development</div>

<div class="two_panel">
  <div class="right_panel">
    <img src="images/iterations.png"><br>
  </div>
  <div class = "content_text">
    <span class = "title">My Process</span><br>
    I've honed an iterative, agile philosophy for game development.  Rather than overcommit to an idea with an unrealistic scope, I take that grand ideal and boil it down to its most basic, essential elements.  The goal is to plan a simple game that can be created start to finish in a single sprint of a few weeks.  This includes all elements that would normally exist in a completed project from title screen to sound effects.  One could think of it as a vertical slice or a prototype, but the end result is a shippable product.  Subsequent sprints are planned out to add new features, expand the scope, and upgrade existing pieces (including gameplay, art style, and graphics engine), but the project perpetually exists in a state of being ready to ship.  The long-term payoff is a roster of finished titles rather than an empty wishlist.
  </div>
</div>

<div class="two_panel">
  <div class="right_panel">
    <a href="images/ultraguy_screendhot_large.png" target=new><img src="images/ultraguy_screenshot_small.png"></a><br>
  </div>
  <div class = "content_text">
    <img src="images/ultraguy_logo.png"><br>
    Ultraguy uses a Javascript canvas framework I built to support 2D sprite rendering, user input, sound, and music across both desktop and mobile browsers.
    I'm pushing the limits of what HTML5 games are capable of and doing it with style.
  </div>
</div>

<div class="two_panel">
  <div class="right_panel">
    <a href="images/boxland5.png" target=new><img src="images/boxland5_small.png"></a><br>
    <a href="images/boxland4.png" target=new><img src="images/boxland4_small.png" border=0></a>
  </div>
  <div class = "content_text">
    <img src="images/boxland_logo4.png"><br>
    The Boxland engine represents the first evolutionary step in a new game engine I'm building from scratch.
    On the surface, the game is tile-based and from a 2D overhead perspective, but the game world is actually
    running in 3D.  All of the surfaces are kept track of in terms of brushes and textures (like an early Quake
    or Half-Life engine), and the characters and objects have three-dimensional locations and physics.<br>
    <br>
    The advantage to creating my own gameplay engine is that I will be able to create environments that are not
    only completely destructible, but with a level of detail and interactivity that we have rarely seen in
    games before.  Subsequent projects built on this code will have the potential for 3D graphics, map editor compatibility,
    and support for any game style, from first-person shooter to role-playing.
  </div>
</div>

<div class="two_panel">
  <div class="right_panel">
    <a href="images/blockhead1.png" target=new><img src="images/blockhead1_small.png" border=0></a>
  </div>
  <div class = "content_text">
    <img src="images/blockhead_250_trans.png"><br>
    <br>
    Aside from a few XBOX-specific code snippets, everything in Blockhead was programmed
    entirely on my own, from the animations to the game logic to the menu screens.
    Blockhead was the most comprehensive showcase of my game development talents at that time,
    and I'm still proud of it today.
  </div>
</div>

<div class = "two_panel">
  <div class = "right_panel">
    <img src="images/particle1.png"><br>
    <a href="images/particle3_large.png"><img src="images/particle3.png"></a>
  </div>
  <div class = "content_text">
    <span class = "title">Particle System</span><br>
    One of the most useful graphical tools I built for Blockhead is a comprehensive 2D
    particle system.  I've used the functions to realistically simulate almost anything,
    including fire, steam, smoke, fireworks, laser beams and explosions just by tweaking the
    values and supplying a few images as a base.  The programmer can adjust the amount, speed,
    direction, spread, transparency, and fade speed of the individual particles, and
    define preset effects to be used as shortcuts.  It was programmed in C#
    for XNA Game Studio, and can be easily ported to most other platforms.<br>
    <br>
    The particle engine has already gotten some significant upgrades as I implement it into
    my new adventure game, Boxland.  Since the game engine keeps track of the world in 3D,
    the particles now fly around inside the world, interacting with it's architecture and
    objects, rather than just drawn on top of it.
  </div>
</div>
