<div class = "header_bar">Level Design</div>
As an experienced mapmaker, I've worked on dozens of new maps and environments
for various games, including Doom, Quake 2, Quake 3, Half-Life, and Team Fortress
Classic.  My work has included single player, deathmatch, and team-based
multiplayer maps in varied settings and art styles.  I've displayed
here some of my more recent work that best showcases my talents.<br>
<br>

<div class = "two_panel">
  <div class = "right_panel">
    <a href="images/magnetrain_station2.png" target = new><img src="images/magnetrain_station2_small.png"></a><br>
  </div>
  <div class="content_text">
    <img src="images/evolver_source_black1.png"><br>
    Evolver Source is a partial conversion of Half-Life 2 into an area from Evolver,
    a future game idea we've been working on.  For this project I've created not only
    the geometry but all of the wall textures myself.  I'm producing the content on
    a modular basis and the next add-ons planned are for a new weapon design and a new
    creature.
  </div>
</div>

<div class = "two_panel">
  <div class = "right_panel">
    <a href="images/arena1.png" target=new><img src="images/arena1_small.png"></a>
  </div>
  <div class = "content_text">
    <img src="images/q3b.png"><br>
    <br>
    The Arena is a gladiator-style pit used for bloody deathmatches.  Each combatant
    spawns into a holding cell with one weapon and select items for balance.  A
    switch in the cell raises the gate to the arena, and begins a fight for survival.
  </div>
</div>

<div class = "two_panel_last">
  <div class = "right_panel">
    <a class = "row" href="images/sewage2.png" target=new><img src="images/sewage2_small.png"></a>
  </div>
  <div class = "content_text">
    <img src="images/q3b.png"><br>
    <br>
    The Sewage Treatment Plant emphasizes stealth and strategy over typical
    running-and-shooting deathmatch tactics.  The map has lots of armor and  mostly
    light-to-medium weapons that make one-shot kills difficult, and features plenty of
    small hiding spots and tight corners for ambushes and quick escapes.  For those who
    explore there's a quad damage hidden in a pipe near the top of the building, but
    they'll have to fall three floors into a vat of raw sewage to get it.
  </div>
</div>
