<div class = "header_bar">Soundtracks</div>

<div>
  Music's been a big part of my life for about fifteen years.  I've worked on tracks
  in both musical score and mainstream rock projects.  Here's some of my instrumental
  work.
</div>
<br><br>

<div class = "screenshot_left">
  <img src = "images/music1.gif"><br>
  <img src = "images/music3.jpg"><br>
  <img src = "images/tv_loop.gif" width = 100><br>
  <img src = "images/music3.gif">
</div>

<div class = "screenshot_left">
  <span class = "large red">Necroburn</span> (Hard Industrial)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Necroburn.mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
  <br><br>

  <span class = "large red">Trash</span> (Gritty & Atmospheric)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Trash.mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
  <br><br>

  <span class = "large red">Blockhead</span> (Fast Metal)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Blockhead.mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
  <br><br>

  <span class = "large red">Revelation</span> (Horror)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Revelation (Instrumental).mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
  <br><br>

  <span class = "large red">Jungle Madness</span> (Tribal Beats)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Jungle Madness.mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
  <br><br>

  <span class = "large red">Dishwasher FM</span> (Ambience & Strings)<br>
  <object type="application/x-shockwave-flash"
      data="http://www.zachbowman.com/music/player_mp3_maxi.swf"  width="200" height="20">
    <param name="movie" value="http://www.zachbowman.com/music/player_mp3_maxi.swf" />
    <param name="bgcolor" value="#000000" />
    <param name="FlashVars" value="mp3=http%3A//www.zachbowman.com/music/Dishwasher FM.mp3&amp;showstop=1&amp;showvolume=1&amp;loop=0">
  </object>
 </div>
 
 <img class = "right" src = "images/panel_pain2.png">

