<div class = "header_bar">Web Design</div>

My web design experience goes back about fifteen years and I currently specialize in pages built with HTML5, CSS, JavaScript, jQuery, and Angular (when needed).
I also design and draw any logos, graphics or backgrounds I need to achieve the flavor I want.<br>
<br>

<div class = "grid_row">
  <div class="grid_square"><a href="images/page_screenshots/games.png" target="new"><img class="grid_image" src="images/page_screenshots/games_preview.png"></a></div>
  <div class="grid_square"><a href="images/page_screenshots/emptyspace.png" target="new"><img class="grid_image" src="images/page_screenshots/emptyspace_preview.png"></a></div>
  <div class="grid_square"><a href="images/page_screenshots/hypnotherapy.png" target="new"><img class="grid_image" src="images/page_screenshots/hypnotherapy_preview.png"></a></div>
</div>
<div class = "grid_row">
  <div class="grid_square"><a href="images/page_screenshots/burning_freak.png" target="new"><img class="grid_image" src="images/page_screenshots/burning_freak_preview.png"></a></div>
  <div class="grid_square"><a href="images/page_screenshots/cricketheads.png" target="new"><img class="grid_image" src="images/page_screenshots/cricketheads_preview.png"></a></div>
  <div class="grid_square"><a href="images/page_screenshots/boxland_website.png" target="new"><img class="grid_image" src="images/page_screenshots/boxland_website_preview.png"></a></div>
</div>
<div class = "grid_row">
  <div class = "grid_square"><a href="images/page_screenshots/zachbowman_version1.png" target="new"><img class="grid_image" src="images/page_screenshots/zachbowman_version1_preview.png"></a></div>
  <div class = "grid_square"><a href="images/page_screenshots/sproessers.png" target="new"><img class="grid_image" src="images/page_screenshots/sproessers_preview.png"></a></div>
</div>