<div class = "header_bar">Web Development</div>

From simple HTML to complex frameworks and engines, I've been steadily expanding my web programming arsenal the past few years.
I've recently completed a full-stack Javascript program at Codefellows in Seattle, covering everything from Node.js to jQuery.<br>
<br>
<div class = "two_panel">
  <div class = "right_panel">
    <a href = "http://burningfreak.com/zb/freelance/wordwars/" target = new><img src = "images/wordwars1_small.png"></a><br>
    <a href = "http://burningfreak.com/zb/freelance/wordwars/" target = new><img src = "images/wordwars2_small.png"></a>
  </div>
  <div class = "content_text">
    <span class = "title">Word Wars</span><br>
    <br>
    This was an idea for a supercharged, scrabble-like spinoff game I pitched, and then assembled a team to help develop.  Working together,
    we used jQuery UI, a dictionary API, and data binding we wrote ourselves to make an html web page into a fully interactive board
    game (using no game engines or canvas tags).  It supports up to four players, and features multiple board shapes, dictionary
    definitions, and a fully functional validation and scoring system.
  </div>
</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_mappy1_small.png"></a><br>
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_mappy2_small.png"></a>
  </div>
  <div class = "content_text">
    <a href = "http://flappy-mappy.herokuapp.com" target = new><img src = "images/flappy_logo2.png"></a><br>
    <br>
    This browser-based web application uses the Google Maps and Google places APIs to plot a driving route.  Then, it shows the
    user places of interest, restaraunts, gas, and other activities on that path.  I helped design and program this using
    Javascript, jQuery, CSS, and HTML as part of a four-person team.
  </div>
</div>

<div class = "two_panel">
  <div class="right_panel">
    <a href="images/ultraguy_screendhot_large.png" target=new><img src="images/ultraguy_screenshot_small.png"></a><br>
  </div>
  <div class = "content_text">
    <span class = "title">HTML5 Games</span><br><br>
    Between larger projects, I'm currently developing a series of browser-based minigames in HTML5.
    The goal is to start small and push the limits of Javascript in terms of graphics, gameplay complexity and
    user interface to test how far it can take us.  My first two minigames are now complete, with several more planned,
    including arcade, platformer, action, and puzzle games.<br>
    <br>
    All my 2D browser games use a custom, responsive, canvas framework I built in-house to support sprite
    rendering, user input, sound, and music across all desktop and mobile browsers.
  </div>
</div>

<div class = "header_bar">What's Next?</div>

<span class = "title">Official Web Journal</span>
<div class = "content_text">
  My next web project is to add a news section to this portfolio site, allowing me to log in, post, and save entries
  without having to touch any HTML or source code.  I'm currently using the Angular framework, with plans to incorporate
  authentication tokens, and database management.
</div>
